* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: linear-gradient(to right, rgba(224, 74, 19, 0.9), rgba(180, 64, 22, 0.871));
}

header nav {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 25px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}

nav a.active,
nav a:hover {
    border-bottom: 2px solid;
}

/* Container Part CSS */
.container {
    padding:40px;
    background-color: rgb(245, 186, 114);
    display: flex;
    justify-content: space-between;
}

.container-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.container-content h2 {
    margin-bottom: 10px;
    font-size: 50px;
    font-family: cursive;
}

.container-content p {
   font-size: 20px;
    font-weight: 600;
    background-color: rgb(160, 43, 43);
    -webkit-background-clip: text;
    color: transparent;
}
.container-content a{
    padding: 10px 20px;
    width: 150px;
    text-align: center;
    background: linear-gradient(45deg, rgb(62, 31, 6), rgb(230, 80, 80));
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 25px;
}

.container img{
    max-height: 400px;
    max-width: 400px;
    margin-left: 400px;
    margin-right: 200px;
}
.category-container{
    background: linear-gradient(to bottom, #f7fcff, #ffe6cc);
    padding: 33px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.category-container article{
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}
.category{
    padding: 20px 20px;
    background-color: #ea2d2df2;
    border-radius: 25px;
    text-align: center;
    transition: all 3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}

.category:hover{
    transform: scale(1.05);
}

/* Footer Part Starts Here */
footer{
    padding: 10px 20px;
    text-align: center;
    background: linear-gradient(to right, #ede8e3, #ce621a);
    font-size: 25px;
    font-family:'Times New Roman', Times, serif
}